@import url("./form.css");
@import url("./burgerMenu.css");

/* #region base reset */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  flex-shrink: 0;
}

body {
  margin: 0;
}
/* #endregion */

/*  */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  margin: 0 auto;
  max-width: 288px;
  padding: 0;
}

/* #region header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);

  padding: 24px 0;
}

.div-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 149px;
}

.logo-span {
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-item {
}
.header-item-a {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-bottom: 24px;
}

.pseudo-focus {
  color: #404bbf;
}
.pseudo-focus::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;

  position: absolute;
  transform: translateY(50%);
  left: 0;
  bottom: -1px;
}

.header-item-a:hover,
.header-item-a:focus {
  color: #404bbf;
}
.header-item-a:hover::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #404bbf;
  border-radius: 2px;

  position: absolute;
  transform: translateY(50%);
  left: 0;
  bottom: -1px;
}
.address {
  display: none;
}
.address-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.address-item-a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item-a:hover,
.address-item-a:focus {
  color: #404bbf;
}

.header-solid-menu {
  fill: #2f2f37;
  display: block;
}

/* #endregion */

/* #region order-service */
.order-service {
  padding: 112px 0;

  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mobile.jpg);

  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.order-service-heading {
  margin: 0 auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;

  max-width: 160px;
  margin-bottom: 72px;
}

.order-service-button {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;

  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-service-button:hover,
.order-service-button:focus {
  background-color: #404bbf;
}

/* #endregion */

/* #region qualities */
.qualities {
  padding: 120px 0;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.qualities-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.qualities-item {
  width: auto;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.qualities-item-icon-div {
  display: none;
}
.qualities-item-icon {
  display: block;
  width: 64px;
  height: 64px;
  fill: none;
}
.qualities-item-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;

  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.qualities-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
/* #endregion */

/* #region our-team */

.our-team {
  padding: 96px 0;
  background-color: #f4f4fd;
}
.our-team-heading {
  margin-bottom: 72px;

  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  text-transform: capitalize;
}
.our-team-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 64px 24px;
}
.our-team-item {
  width: 264px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.our-team-item-img {
}
.our-team-item-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-team-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-item-list-messengers {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.item-messenger {
  width: 40px;
  height: 40px;
}

.item-messenger-a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-messenger-a:hover,
.item-messenger-a:focus {
  background-color: #404bbf;
}

.item-messenger-icon {
  display: block;
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* #endregion */

/* #region our-portfolio */
.our-portfolio {
  padding: 120px 0;
}
.our-portfolio-heading {
  font-weight: 700;
  font-size: 36px;

  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;

  margin-bottom: 72px;
}
.our-portfolio-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.our-portfolio-items {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-items:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}
.our-portfolio-items-container {
  position: relative;
  overflow: hidden;
}
.our-portfolio-items:hover .our-portfolio-items-text {
  transform: translateY(0);
}

.our-portfolio-items-container-img {
}
.our-portfolio-items-container-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.div-portfolio {
  width: 100%;

  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.div-team {
  padding: 32px 0;
}
.our-portfolio-items-heading {
  font-weight: 500;
  font-size: 20px;

  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.our-portfolio-items-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region footer */

.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 72px 24px;
}
.footer-banner {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}
.footer-banner-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;

  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-span {
  color: #f4f4fd;
}

.footer-banner-text {
  font-weight: 400;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
}
.footer-messenger {
  margin: 0 auto;
}

.footer-messenger-text {
  font-weight: 500;
  font-size: 16px;

  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
}

.footer-messenger-list {
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.footer-messenger-item {
}

.footer-messenger-item-a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-messenger-item-a:hover,
.footer-messenger-item-a:focus {
  background-color: #31d0aa;
}
.footer-messenger-item-icon {
  fill: #f4f4fd;
}

.footer-subscribe {
  margin-left: 0;
}

.footer-subscribe-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;

  margin-bottom: 16px;
  text-align: center;
}
.footer-subscribe-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px 24px;
}
.footer-subscribe-form-label {
  width: 100%;
}
.footer-subscribe-form-label-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;

  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;

  background-color: transparent;
  padding-left: 16px;
}

.footer-subscribe-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  border: none;
  background-color: #4d5ae5;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;

  cursor: pointer;
}

.subscribe-form-icon {
  margin-left: 16px;
  fill: #fff;
}
/* #endregion */

@media (min-width: 768px) {
  .container {
    max-width: 736px;
  }
  /* #region media header */

  .header {
    padding: 16px 0;
  }

  .logo {
    margin-right: 120px;
  }

  .header-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .address {
    display: block;
  }
  .address-list {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    gap: 12px;
  }
  .address-item-a {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
  }
  .header-solid-menu {
    display: none;
  }
  /* #endregion */

  /* #region media order-service */
  .order-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet-x1.jpg);
    max-width: 678px;
  }
  .order-service-heading {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;

    margin-bottom: 36px;
  }
  .order-service-button {
  }
  /* #endregion */

  /* #region media qualities */

  .qualities-item {
    width: calc((100% - 24px) / 2);
  }

  /* #endregion */

  /* #region media our-team */

  /* #endregion */

  /* #region media our-portfolio */

  .our-portfolio-items {
    width: calc((100% - 24px) / 2);
  }
  .our-portfolio-items-img {
    width: 356px;
    height: 300px;
  }
  /* #endregion */

  /* #region media footer */

  .footer-container {
    margin-left: 108px;
  }
  .footer-messenger {
    margin: 0;
  }
  .footer-subscribe-text {
    text-align: start;
  }
  .footer-subscribe-form {
    flex-wrap: nowrap;
  }
  .footer-subscribe-form-label-input {
    width: 264px;
  }
  /* #endregion */
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
  /* #region media header */

  .header {
    padding: 24px 0;
  }

  .logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }
  .address-item-a {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
  }

  /* #endregion */

  /* #region media order-service */
  .order-service {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop-x1.jpg);
  }

  .order-service-heading {
    margin-bottom: 48px;
  }

  /* #endregion */

  /* #region media qualities */

  .qualities-list {
    justify-content: center;
  }
  .qualities-item {
    width: calc((100% - 72px) / 4);
  }
  .qualities-item-icon-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .qualities-item-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }
  .qualities-item-text {
    font-weight: 400;
  }
  /* #endregion */

  /* #region media our-team */
  .our-team {
    padding: 120px 0;
  }

  /* #endregion */

  /* #region media our-portfolio */

  .our-portfolio {
    padding: 120px 0;
  }

  .our-portfolio-list {
    gap: 48px 24px;
  }

  .our-portfolio-items {
    width: calc((100% - 48px) / 3);
  }

  .our-portfolio-items-img {
    width: 360px;
    height: 300px;
  }
  /* #endregion */

  /* #region media footer */
  .footer {
    padding: 100px 0;
  }
  .footer-container {
    margin: auto;
    flex-wrap: nowrap;
    gap: 0;
  }
  .footer-messenger {
    margin: 0 0 0 120px;
  }

  .footer-subscribe {
    margin: 0 0 0 80px;
  }
  /* #endregion */
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .order-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-tablet-x2.jpg);
  }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
  .order-service {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desktop-x2.jpg);
  }
}
